body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.callback::-webkit-scrollbar-track,
.history::-webkit-scrollbar-track,
.agent-numbers::-webkit-scrollbar-track,
.calling-numbers::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.callback::-webkit-scrollbar,
.history::-webkit-scrollbar,
.agent-numbers::-webkit-scrollbar,
.calling-numbers::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}
.callback::-webkit-scrollbar-thumb,
.history::-webkit-scrollbar-thumb,
.agent-numbers::-webkit-scrollbar-thumb,
.calling-numbers::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.App{
  padding: 5px;
  height: 590px;
  width: 750px;
  overflow: hidden;
  .disabled{
    display: none;
  }
  header{
    margin-bottom: 20px;
    img{
      width: 50px;
      height: 50px;
    }
    .main-tabs{
      margin-top: 5px;
      width: 100%;
      button{
        margin-right: 0;
        border: 1px solid #8c8c8c;
      }
      &.two-buttons{
        button{
          width: 50%;
        }
      }
      &.three-buttons{
        button{
          width: 33%;
        }
      }
      &.four-buttons{
        button{
          width: 25%;
        }
      }
    }
    .currentAgent{
      width: 50%;
      display: inline-block;
      div{
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
      }
    }
    .current-counterparty{
      width: 50%;
      display: inline-block;
      div{
        float: right;
        display: inline-block;
        vertical-align: top;
        margin-top: 20px;
      }
      img{
        float: right;
      }
    }
  }
  .flag{
    width: 18px;
    height: 11px;
    margin-right: 3px;
    vertical-align: top;
  }
  .statusOnline{
    width: 5px;
    height: 5px;
    border: 1px solid #07d104;
    border-radius: 50%;
    background: #00ff00;
    display: inline-block;
    margin-left: -5px;
    margin-right: 5px;
  }
  .call-btn,
  .hangup-btn,
  .hold-btn,
  .resume-btn,
  .transfer-btn,
  .button{
    width: 90px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: middle;
    &.blocked{
      cursor: context-menu;
      border-color: #8c8c8c;
      i{
        color: #8c8c8c;
      }
    }
    &.blocked:hover{
      background: #fff;
      i{
        color: #8c8c8c;
      }
    }
  }
  .call-btn{
    border-color: #00bf1f;
    i{
      color: #00bf1f;
    }
    .plus-in-btn{
      color: #00bf1f;
      font-size: 32px;
    }
    &:hover{
      background: #00bf1f;
      i{
        color: #fff;
      }
      .plus-in-btn{
        color: #fff;
      }
    }
  }
  .hangup-btn{
    border-color: #dd0028;
    i{
      color: #dd0028;
    }
    &:hover{
      background: #dd0028;
      i{
        color: #fff;
      }
    }
  }
  .hold-btn,
  .button-blue{
    border-color: #2d3fff;
    color: #2d3fff;
    &:hover{
      background: #2d3fff;
      color: #fff;
    }
  }
  .resume-btn{
    border-color: #ff2dab;
    color: #ff2dab;
    &:hover{
      background: #ff2dab;
      color: #fff;
    }
  }
  .callingBoxOut .call-btn{
    border-color: #8c8c8c;
    cursor: context-menu;
    i{
      color: #8c8c8c;
    }
    &:hover{
      background: #fff;
      i{
        color: #8c8c8c;
      }
    }
  }
  button:focus,
  a:focus,
  input:focus{
    outline: none;
  }
  button{
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
    margin-right: 10px;
    &.active-btn{
      background: lightblue;
    }
  }
  .calling-header{
    margin-bottom: 10px;
    a{
      display: inline-block;
      padding: 10px 20px;
      cursor: pointer;
      margin-right: 10px;
      color: #1F3E79;
      border: 2px solid #1F3E79;
      border-radius: 5px;
      text-decoration: none;
      &.blocked{
        cursor: context-menu;
        border-color: #8c8c8c;
        color: #8c8c8c;
        pointer-events: none;
        &:hover{
          color: #8c8c8c;
          background: #fff;
        }
      }
      &:hover{
        color: #fff;
        background: #1F3E79;
      }
    }
  }
  .calling-page{
    .input-div{
      margin: 10px 0;
      border: 1px solid;
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      width: calc(100% - 10px);
      .isInput{
        font-weight: 600;
        font-size: 13px;
        position: absolute;
        background: #ff4949;
        color: #ffffff;
        top: 0;
        right: -35px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 10px 10px;
        transition: right ease-out 0.5s;
        cursor: pointer;
        &:hover{
          background-color: #d61b1b;
        }
      }
    }
    .create-new-contact{
      margin: 10px;
    }
    input[type="text"]{
      width: calc(100% - 10px);
      border: none;
      padding: 10px;
      border-radius: 5px;
      &:focus{
        outline: none;
      }
    }
    .choosed{
      background-color: lightblue;
    }
    .onlineAgent{
      cursor: pointer;
      &:hover{
        background-color: lightblue;
      }
    }
    .agent-numbers-wraper{
      display: inline-block;
      width: 50%;
      vertical-align: top;
      .agent-numbers{
        height: 369px;
        overflow-y: auto;
        .agent-box{
          padding: 10px;
          font-size: 13px;
          border-bottom: 1px solid black;
          img{
            width: 60px;
            height: auto;
            float: left;
            margin-right: 10px;
          }
          .account-info{
            display: inline-block;
            width: 70%;
            line-height: 20px;
          }
        }
        .agent-number{
          font-size: 13px;
          padding: 10px;
          cursor: pointer;
          &:hover{
            background-color: lightblue;
          }
          & > div{
            display: inline-block;
            max-width: 80%;
            line-height: 20px;
          }
          .flag{
            width: 30px;
            height: 20px;
            float: left;
            margin-right: 5px;
          }
        }
      }
    }
    .calling-numbers-wraper{
      display: inline-block;
      width: 50%;
      vertical-align: top;
      .calling-numbers{
        height: 369px;
        overflow-y: auto;
        .calling-number-block{
          padding: 5px;
          border-bottom: 1px solid black;
          min-height: 60px;
          .loaded-user{
            display: inline-block;
            max-width: 80%;
            line-height: 20px;
          }
          img{
            width: 60px;
            height: auto;
            max-height: 70px;
            margin-right: 10px;
            float: left;
            &.flag{
              width: auto;
              height: 20px;
            }
          }
          .calling-number{
            font-size: 13px;
            padding: 10px;
            cursor: pointer;
            &:hover{
              background-color: lightblue;
            }
          }
        }
      }
    }
  }
  .history,
  .callback{
    overflow-y: auto;
    .single-history-header{
      font-weight: 600;
    }
    .single-history{
      display: flex;
      .transfer-img{
        margin-left: 10px;
        width: 20px;
        margin-right: 10px;
        vertical-align: top;
      }
    }
    .history-time > img{
      float: left;
    }
    .history-from {
      .counterparty-direction{
        display: inline-block;
        width: 20%;
        i{
          font-size: 20px;
          color: green;
        }
      }
      .fa-edit{
        margin-left: 5px;
        cursor: pointer;
      }
    }
    .called-agent{
      margin: 5px 0;
      display: block;
      .called-agent-name{
        .called-agent-info{
          display: inline-block;
            max-width: 85%;
        }
        span{
          display: inline-block;
          margin-left: 25px;
        }
      }
    }
    .call-btn{
      display: block;
      width: 50px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
  .callback{
    height: 475px;
  }
  .history{
    height: 450px;
  }
  .calling-box{
    .calling-main{
      border-bottom: 1px solid black;
    }
    .history{
      box-sizing: border-box;
      position: absolute;
      left: 5px;
      right: 0px;
    }
    .calling-buttons{
      margin-bottom: 10px;
    }
    .calling-from,
    .calling-via,
    .calling-to{
      display: inline-block;
      width: 33%;
      vertical-align: top;
    }
    .called-agent{
      margin: 5px;
      img{
        width: 20px
      }
    }
    .calling-to{
      .available-agents{
        span{
          margin: 10px 5px;
        }
      }
    }
    .calling-via .counterparty-number{
      width: 100%;
    }
    .transfer-call{
      margin-bottom: 10px;
      -webkit-transition: height .5s;
      transition: height .5s;
      overflow: hidden;
      input{
        padding: 10.5px;
        vertical-align: bottom;
        border: 2px solid black;
        border-radius: 5px;
        margin-right: 10px;
        width: 165px;
      }
    }
    .calling-tenant{
      text-align: center;
      padding: 20px;
      margin: 10px;
      border: 2px solid green;
      border-radius: 5px;
      color: green;
      font-size: 18px;
      span{
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  .login-page{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow: column;
    height: 100%;
  }

  .single-history > div{
    display: inline-block;
    width: 33%;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
  .counterparty-number{
    display: inline-block;
    width: 80%;
    &>div{
      display: inline-block;

    }

    .booking_box{
      margin-top: 5px;
      font-weight: 600;
      width: 100%;
      button{
        width: 60px;
        height: 27px;
        padding: 0;
        font-size: 20px;
        border: 2px solid #2d3fff;
        color: #2d3fff;
        border-radius: 5px;
        vertical-align: bottom;
        &:hover{
          background: #2d3fff;
          color: #ffffff;
        }
      }
    }
  }
  .answered-img{
    width: 20px;
    margin-right: 10px;
    vertical-align: super;
  }
  .history-identity{
    display: inline-block;
    width: 80%;
    vertical-align: top;
  }
  .anonymous-flag{
    display: inline-block;
    color: white;
    background: black;
    width: 18px;
    height: 11px;
    text-align: center;
    margin-right: 3px;
    font-size: 10px;
  }
  .dialPad{
    top: 100%;
    right: 15px;
    position: absolute;
    z-index: 100;
    width: 306px;
    background: #fff;
    .dialPadRow{
      .dialPadCell{
        display: inline-block;
        width: 100px;
        height: 50px;
        font-size: 30px;
        font-weight: 600;
        cursor: pointer;
        background: linear-gradient(to top, #4D5462, #6C7380);
        color: #fff;
        border: 1px solid #404041;
        text-align: center;
        span{
          vertical-align: sub;
        }
        &:hover{
          opacity: .8;
        }
      }
    }
  }
  .keypad-btn{
    cursor: pointer;
    position: relative;
    float: right;
    padding-top: 5px;
    img{
      width: 30px;
      height: 30px;
    }
  }
  .createAccountPopup{
    position: absolute;
    left: 16px;
    top: 11px;
    width: 0;
    height: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #fff;
    overflow: hidden;
    z-index: 100;
    transition: all ease-out 0.5s;
    &:hover{
      width: 0;
      height: 0;
    }
    input[type="text"]{
      border: none;
      border-bottom: 1px solid #000;
      width: 230px;
      padding: 10px;
      border-radius: 5px;
    }
    button{
      margin-right: 0;
    }
  }
  .loader-sm{
    display: none;
    width: 30px;
    position: absolute;
    right: 29px;
    top: 2px;
  }
  .inputLabel{
    position: absolute;
    opacity: 0.6;
    top: 2px;
    right: 33px;
    font-size: 10px;
  }
  .hangup-ask{
    position: fixed;
    top: 235px;
    left: 200px;
    padding: 20px;
    border: 2px solid lightblue;
    border-radius: 5px;
    background: #fff;
    z-index: 100;
    .hangup-title{
      text-align: center;
      font-size: 17px;
      margin-bottom: 5px;
    }
    .hangup-buttons{
      button{
        color: #dd0028;
        &:hover{
          color: #fff;
        }
      }
    }
  }
  .conferenceParticipant{
    display: inline-block;
    position: relative;
    width: 31%;
    border: 1px solid #000;
    padding: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 90px;
    vertical-align: top;
    .avatar{
      width: 70px;
    }
    .status-icon{
      width: 15px;
      vertical-align: bottom;
      margin-left: 10px;
    }
    .hangup-participant{
      position: absolute;
      right: 10px;
      bottom: 10px;
      i{
        font-size: 25px;
        cursor: pointer;
      }
    }
    &>div{
      display: inline-block;
      vertical-align: top;
      margin-left: 10px
    }
  }
  .add-to-conference{
    display: inline-block;
    font-size: 30px;
    color: #00bf1f;
    border: 2px solid #00bf1f;
    border-radius: 50%;
    line-height: 25px;
    padding: 0px 4px;
    cursor: pointer;
    vertical-align: middle;
    margin: 5px;
    &:hover{
      background: #00bf1f;
      color: #fff;
    }
  }
}
.text-center{
  text-align: center;
}
